<% content_for :engine_menu do -%>

	<ul id="actions">
		
		<li><%= link_to t('.posts.new'), new_admin_blog_post_url %></li>
		
		<% if BlogPost.comments_allowed? %>
			<li>
				<% if BlogComment.unmoderated.any? %>
					<% title = t('.comments.title_with_count', :new_count => BlogComment.unmoderated.size) %>
				<% else %>
					<% title = t('.comments.title') %>
				<% end %>
			</li>
			
	    <li><%= link_to t('.comments.new'), admin_blog_comments_path %></li>
			<li><%= link_to t('.comments.approved'), approved_admin_blog_comments_path %></li>
			<li><%= link_to t('.comments.rejected'), rejected_admin_blog_comments_path %></li>
	  <% end %>
	
		<li><%= link_to t('.categories.manage'), admin_blog_categories_url %></li>
		<li><%= link_to t('.categories.new'), new_admin_blog_category_url(:dialog => true, :height => 325) %></li>
		<li><%= link_to t('.posts.uncategorized'), uncategorized_admin_blog_posts_url %></li>

		<li><%= link_to t('.settings.comments'), comments_admin_blog_settings_url, :class => "#{BlogPost.comments_allowed? ? 'success' : 'failure'}_icon" %></li>
    <li><%= link_to t('.settings.moderation'), moderation_admin_blog_settings_url, :class => "#{BlogComment::Moderation.enabled? ? 'success' : 'failure'}_icon" %></li>
    <li><%= link_to t('.settings.update_notified'), notification_recipients_admin_blog_settings_url(:dialog => true, :height => 400), :class => 'user_comment_icon' %>
    </li>
	
	</ul><!-- #actions -->
	
<% end %>

<% if Refinery.version < '0.9.9' %>
  <% content_for :head do %>
    <%= stylesheet_link_tag('refinery/refinerycms-blog') %>
    <%# this javascript is not even required in >= 0.9.9 because we made this sort of menu core. %>
    <%= javascript_include_tag('refinery/refinerycms-blog') %>
  <% end %>
<% else %>
  <% content_for :stylesheets, stylesheet_link_tag('refinery/refinerycms-blog')%>
<% end %>
