<div id="individual_comment">
	<header>
		<%= link_to t('.back'), {:action => 'index'}, :class => "back_to_all" %>
		<h1><%= t('.details')%></h1>
	</header>
	
	<section id="full_comment">
		<p><%=simple_format strip_tags(@blog_comment.message) %></p>
	</section><!-- #full_comment -->
	
	<section id="comment_details">
		
		<dl>
			<dt><%= t('.age') %></dt>
			<dd><%= time_ago_in_words(@blog_comment.created_at) %></dd>
			
			<dt><%= t('.blog_post') %></dt>
			<dd><%= link_to @blog_comment.post.title, blog_post_url(@blog_comment.post, :anchor => "comment-#{@blog_comment.to_param}"), :target => '_blank' %></dd>
			
			<dt><%= t('.from') %></dt>
	   	<dd><%= @blog_comment.name %> [<%= mail_to @blog_comment.email, @blog_comment.email, {:title => t('.click_to_email')} %>]</dd>
	
	    <dt><%= t('.date') %></dt>
	    <dd><%= l(Date.parse(@blog_comment.created_at.to_s), :format => :long) %></dd>
	
		</dl>
		
	</section><!-- #comment_details -->
	
	<section id="comment_actions">
		<nav>
	    <%= link_to t('.back'), {:action => 'index'}, :class => "comment_back" %>
	    <%= link_to t('.reject'), rejected_admin_blog_comment_path(@blog_comment, :return_to => 'rejected'),
	        :class => 'comment_reject' unless @blog_comment.rejected? %>
	    <%= link_to t('.approve'), approved_admin_blog_comment_path(@blog_comment, :return_to => 'approved'),
	        :class => 'comment_approve' unless @blog_comment.approved? %>
		</nav>
	</section><!-- #comment_actions -->
		
</div><!-- #individual_comment -->

<% if Refinery.version < '0.9.9' %>
  <% content_for :head, stylesheet_link_tag('refinery/refinerycms-blog') %>
<% else %>
  <% content_for :stylesheets, stylesheet_link_tag('refinery/refinerycms-blog') %>
<% end %>


